# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../currency-converter-jsp\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\JavaProject\currency-converter-jsp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
